<div id="add_review" class="container-fluid">
    <script>
        function toggle_hidden_fields_required () {
            if ($('#purchase').is(':checked')){
                $('#car').prop("required", true);
                $('#purchase_date').prop("required", true);
                $('#review_collapsable_purchase_form').removeClass('collapse');
            }
            else {
                $('#car').prop("required", false);
                $('#purchase_date').prop("required", false) ;
                $('#review_collapsable_purchase_form').addClass('collapse');         
            }
        }

        function reset_form(form){
            form.reset(); 
            toggle_hidden_fields_required ();  
        }
    </script>

    <div class="card">
        <form id="review_form" action="{% url 'djangoapp:add_review' dealer.id %}" method="post">
            {% csrf_token %}
            <br/>
            <div class="mb-3">
                <textarea id="review" type="text" placeholder="Please write your review here." class="form-control" name="review" form="review_form" required></textarea>  
            </div> 
            <div class="mb-3">
                <input id="purchase" type="checkbox" class="form-control-md" name="purchase" 
                    onchange="toggle_hidden_fields_required()"/>
                <label for="purchase" class="form-label">You made a purchase at this dealer </label>
            </div> 

            <div id="review_collapsable_purchase_form" class="collapse">
                <div class="mb-3">
                    <label for="car" class="form-label">What car have you purchased from this dealer? </label>
                    <select id="car" name="car" class="form-select">
                        <option value="" selected>Please select car</option>
                        {% for car in inventory %}
                            <option value={{car.id}}>{{car.car_make.name}}-{{car.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                   </select>
                </div>

                <div class="mb-3">
                    <label for="purchase_date" class="form-label">Date of Purchase</label>
                    <input id="purchase_date" type="date" class="form-control" name="purchase_date"  />
                </div> 
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-primary" type="button" onclick="reset_form(this.form)">Reset</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>        
        </form>
    </div>
</div>

