<div id="dealer_details">
    <!-- Dealer Details -->
    {% if dealer %}
    <h2>{{dealer.full_name}}</h1>
    <table class="table">
        <tr>
            <td>Address</td>
            <td>{{dealer.address}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{dealer.city}}</td>
        </tr> 
        <tr>
            <td>State</td>
            <td>{{dealer.st}}</td>
        </tr>   
        <tr>
            <td>ZIP</td>
            <td>{{dealer.zip}}</td>
        </tr>  
        <tr>
            <td>Latitude</td>
            <td>{{dealer.lat}}</td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>{{dealer.long}}</td>
        </tr>    
    </table>



    <br/> <br />
        <!-- Add reviews as cards -->
        <h2>Reviews</h2>
        {% if user.is_authenticated %}
        {% include "./add_review.html" %}
        <br/>
        {% endif %}

        {% if reviews %}
            <div class="container-fluid">
                {% for review in reviews %}
                    {% if review.sentiment == 'positive' %}
                    <div class="card card mb-3 border-success">
                    {% elif review.sentiment == 'negative' %}
                    <div class="card card mb-3 border-danger">
                    {% else %}  
                    <div class="card card mb-3">
                    {% endif %}

                        <div class="row g-0">
                          <div class="col-md-4">
                            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{review.name}}</h5>
                              <p class="card-text">{{review.review}}</p>
                              <p class="card-text"><small class="text-muted">{{review.create_time}}</small></p>
                            </div>
                          </div>
                        </div>

                    </div>
                    
                {% endfor %}
            </div>
        {% else %}
            <p>No reviews available for this dealer.</p>
        {% endif %}
    {% endif %}
        
</div>