<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="{% url 'djangoapp:index' %}">Best Car Dealerships</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'djangoapp:about' %}">About Us</a>
                </li>
            </ul>
        </div>
        <div id="nav_login" class="content-justify-end">
            <div class="row">
                {% if user.is_authenticated %} 
                <div class= "dropdown">
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{user.username}}</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'djangoapp:logout' %}">Logout</a></li>
                    </ul>    
                </div>
                {% else %}
                <form class ="d-flex" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="username" name="username" />
                    <input type="password" class="form-control" placeholder="password" name="password" />
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
                <a class="btn btn-outline-primary" href="{% url 'djangoapp:register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>     

</nav>