<div id = "registration_body" class="container-fluid">
    <h1>Sign Up</h1>
    <form action="{% url 'djangoapp:register' %}" method="post">
        <div class="mb-3">
            <label for="new_username" class="form-label">Username</label>
            <input id="new_username" type="text" placeholder="Username" class="form-control" name="username" required />
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">Password</label>
            <input id="new_password" type="password" placeholder="Password" class="form-control" name="password" required />
        </div>
        <div class="mb-3">
            <label for="new_email" class="form-label">Email Address</label>
            <input id="new_email" type="email" placeholder="Email" class="form-control" name="email" required />
        </div>        
        <div class="mb-3">
            <label for="new_first_name" class="form-label">First Name</label>
            <input id="new_first_name" type="text" placeholder="First Name" class="form-control" name="first_name" />
        </div> 
        <div class="mb-3">
            <label for="new_last_name" class="form-label">Last Name</label>
            <input id="new_last_name" type="text" placeholder="Last Name" class="form-control" name="last_name" />
        </div> 
        <div class="mb-3">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>        
        
    </form>
</div>